/* Загальні стилі */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #DB7093;
    font-size: 20px;
}
h1{
    text-align: center;
    font-family: Serif;
}
header {
    background-color: black;
    color: #fff;
    padding: 20px;
    text-align: center;
}
img{
    height: 300px;
    width: 300px;
}
header h1 {
    margin: 0;
}
li{
    font-size: 20px;
}
nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
}
section{
    margin-bottom: 30px;
}
.div1{
    section 
    margin-bottom: 30px;
    max-width: 800px; /* Наприклад, ширина блоку */
    margin: 0 auto; /* Автоматичне вирівнювання по центру горизонталі */
}

footer {
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
}
